:root {
  font-size: 16px;
}

/*
@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/Proxima Nova/Proxima Nova Regular.otf");
}
*/

.noscroll { overflow: hidden; }

.overlay { overflow-y: scroll; }

[aria-hidden="true"] { display: none; }
[aria-hidden="false"] { display: block; }

